<div class="mt-4 p-5 bg-secondary text-white rounded">
    <h1>MetaCoding</h1>
    <p>🏠 부산진구 중앙대로</p>
    <p>📞 0102222~~~</p>
    <p></p>
</div>

<script src="/js/common.js"></script>
</body>

</html>