{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

    <!--  글쓰기 폼 시작 -->
    <form>
        <div class="mb-3 mt-3">
            <input id="title" type="text" class="form-control" placeholder="Enter title">
        </div>
        <div class="mb-3">
            <textarea id="content" rows="10" class="form-control" id="content"></textarea>
        </div>
        <button id="btn-write" type="button" class="btn btn-secondary">글쓰기</button>
    </form>
    <!-- 글쓰기 폼 끝 -->

</div>
<!-- 컨테이너 끝 -->

<script src="/js/post.js"></script>

<script>
    $('#content').summernote({
        height: 300
    });
</script>

{{> /layout/footer}}