{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

    <!-- 상세정보보기 시작 -->

    <div class="mb-3 mt-3">
        유저네임
    </div>
    <div class="mb-3">
        비밀번호
    </div>
    <div class="mb-3">
        이메일
    </div>
    <a href="/s/user/1/updateForm" class="btn btn-secondary">수정</a>

    <!-- 상세정보보기 끝 -->

</div>
<!-- 컨테이너 끝 -->

{{> /layout/footer}}