{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

    <!-- 회원가입 폼 시작 -->
    <form>
        <div class="mb-3 mt-3">
            <input id="username" type="text" class="form-control" placeholder="Enter username" required maxlength="12">
        </div>
        <div class="mb-3">
            <input id="password" type="password" class="form-control" placeholder="Enter password" required
                maxlength="12">
        </div>
        <div class="mb-3">
            <input id="email" type="email" class="form-control" placeholder="Enter email" required maxlength="30">
        </div>
        <div class="mb-3">
            <input id="addr" type="text" class="form-control" placeholder="Enter addr" required maxlength="300">
        </div>
        <button id="btn-join" type="button" class="btn btn-primary">회원가입</button>
    </form>
    <!-- 회원가입 폼 끝 -->

</div>

<script src="/js/user.js"></script>

<!-- 컨테이너 끝 -->
{{> /layout/footer}}