{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

    <!-- 로그인 폼 시작 -->
    <form>
        <div class="mb-3 mt-3">
            <input id="username" type="text" class="form-control" placeholder="Enter username" required maxlength="12">
        </div>
        <div class="mb-3">
            <input id="password" type="password" class="form-control" placeholder="Enter password" required
                maxlength="12">
        </div>
        <div class="form-check mb-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
            </label>
        </div>
        <button id="btn-login" type="button" class="btn btn-primary">로그인</button>
    </form>
    <!-- 로그인 폼 끝 -->

</div>
<!-- 컨테이너 끝 -->

<script src="/js/user.js"></script>

{{> /layout/footer}}